header {
    padding-bottom: 6rem;
}

h1 {
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 4.2rem;
    text-align: center;
}

nav {
    text-align: center;
}

ul {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: black;
}

nav>ul {
    display: flex;
    flex: 1;
    justify-content: space-around;
    border-bottom: 1px solid #bdbdbd;
}

nav>ul>li {
    padding-bottom: 1rem;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
}

nav>ul>li.active {
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 6px solid #2f80ed;
}

a:active,
a:focus li {
    border-bottom: 2px solid red;
}

.form {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0 1rem;
}

.form-input {
    flex: 0.95;
    padding: 1.3rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    border: 1px solid #bdbdbd;
    font-size: 1.6rem;
}

.btn {
    font-size: 1.6rem;
    padding-left: 1.9rem;
    padding-right: 1.9rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    border: none;
    background: #2f80ed;
    color: #fff;
}

.todo-section {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
}

.list-item {
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 100%;
    flex: 1;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.check-box-group {
    cursor: pointer;
}

.check-icon {
    margin-right: 1rem;
}

.complete {
    text-decoration: line-through;
    color: #999;
}

.mb-2 {
    margin-bottom: 3rem;
}

.list-item .deleted {
    color: red;
    display: none;
    cursor: pointer;
}

.list-item:hover,
.list-item:active {
    background-color: whitesmoke;
}

.list-item:hover .deleted {
    display: block;
}

.delete-all {
    cursor: pointer;
    align-self: flex-end;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5rem;
    background: #eb5757;
    padding: 1.5rem 2rem;
    border: none;
    color: #fff;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.delete-all i {
    font-size: 1.5rem;
}