* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
}

body {
    display: grid;
    justify-items: center;
    align-items: start;
    height: 100%;
    min-width: 320px;
    padding: 5rem 2rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
}

main {
    width: 400px;
    text-align: center;
}

@media (min-width: 600px) {
    html {
        font-size: 65%;
    }
    main {
        min-width: 45rem;
    }
}

@media (min-width: 500px) {
    main {
        min-width: 41rem;
    }
}

@media (min-width: 411px) {
    html {
        font-size: 55%;
    }
    main {
        max-width: 35rem;
    }
}

@media (min-width: 360px) {
    main {
        max-width: 30rem;
    }
}

@media (min-width: 320px) {
    main {
        max-width: 28rem;
    }
}